.contactUsPage {
  padding-bottom: 7.5rem;
}

.locationsIllustrationsSection {
  padding-top: 7.5rem;
}

@media screen and (min-width: 45rem) {
  .contactUsPage {
    padding: 0 2.5rem 7.5rem 2.5rem;
  }
}

@media screen and (min-width: 65rem) {
  .contactUsPage {
    padding: 0 10.25rem 10rem 10.25rem;
  }
}
