.servicePage {
  padding-bottom: 17.87rem;
}

.portfolioSection {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.portfolioSection,
.otherServicesSection {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
