.servicePage {
  padding-bottom: 17.87rem;
}

.portfolioSection {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.portfolioSection,
.otherServicesSection {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 45rem) {
  .portfolioSection,
  .otherServicesSection {
    padding-left: 0;
    padding-right: 0;
  }

  .servicePage {
    padding: 0 2.5rem 23.38rem 2.5rem;
  }
}

@media screen and (min-width: 65rem) {
  .servicePage {
    padding: 0 10.31rem 23.75rem 10.31rem;
  }
}
