.navbar {
  display: flex;
  align-items: center;
  padding: 2.12rem 1.5rem;
  justify-content: space-between;
}

.brand {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
}

.brandName {
  font-size: 1.5rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  font-weight: var(--large-font);
}

.navLinksWrapper {
  display: none;
}

.navlink {
  text-decoration: none;
  color: var(--dark-grey);
}

@media screen and (min-width: 45rem) {
  .navbar {
    padding: 4rem 2.5rem;
  }

  .hamburger {
    display: none;
  }

  .navLinksWrapper {
    gap: 2.62rem;
    display: flex;
  }

  .navbarLink {
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-weight: var(--small-font);
  }
}

@media screen and (min-width: 65rem) {
  .navbar {
    padding: 4rem 10.31rem;
  }
}
