.footerBar {
  margin-top: -7.88rem;
}

.contactpageFooterBar {
  margin-top: 0;
}

.footerNavlinks {
  margin-bottom: 2.5rem;
}

.brand {
  gap: 1rem;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
}

.brandName {
  font-size: 1.5rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  font-weight: var(--large-font);
}

.horizontalLine {
  opacity: 0.1;
  height: 0.0625rem;
}

.firstLine {
  margin-bottom: 2rem;
}

.footerLink {
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-weight: var(--small-font);
}

.footerLink:not(:last-child) {
  margin-bottom: 2rem;
}

.navlink {
  color: var(--white);
  text-decoration: none;
}

.secondLine {
  display: none;
}

.address,
.contact {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 2.5rem;
  font-weight: var(--small-font);
}

.address {
  opacity: 0.5035;
}

.contact {
  opacity: 0.4965;
}

.socialLinks {
  gap: 1rem;
  display: flex;
  height: 1.5rem;
  justify-content: center;
}

.socialLink {
  height: 100%;
  width: 1.5rem;
  display: flex;
}

@media screen and (min-width: 45rem) {
  .footerBar {
    margin-top: -11.5rem;
  }

  .contactpageFooterBar {
    margin-top: 0;
  }

  .footerNavlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brand {
    width: auto;
    margin-bottom: 0;
  }

  .firstLine {
    display: none;
  }

  .footerLinksWrapper {
    gap: 2.62rem;
    display: flex;
  }

  .footerLink {
    display: flex;
    align-items: center;
  }

  .footerLink:not(:last-child) {
    margin-bottom: 0;
  }

  .secondLine {
    display: block;
    margin-bottom: 1.94rem;
  }

  .contactWrapper {
    display: flex;
    justify-content: space-between;
  }

  .address,
  .contact {
    margin-bottom: 0;
    text-align: left;
  }

  .socialLinks {
    align-self: flex-end;
  }
}

@media screen and (min-width: 65rem) {
  .footerBar {
    margin-top: -9.25rem;
  }

  .contactpageFooterBar {
    margin-top: 0;
  }
}
