.servicespageHeader {
  color: var(--white);
  text-align: center;
  padding: 6.56rem 1.5rem;
  background: var(--peach);
}

.servicespageHeader .heading {
  font-size: 2rem;
  font-style: normal;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-weight: var(--medium-font);
}

.servicepageHeader .text {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: var(--small-font);
}
