* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

:root {
  /* defining fonts as variables */
  --small-font: 400;
  --medium-font: 500;
  --large-font: 700;

  /* defining colors as variables */
  --first-project-card: #2e3947;
  --third-project-card: #3f2f83;
  --fifth-project-card: #853a4d;
  --second-project-card: #34b7a2;
  --fourth-project-card: #40125a;
  --black: rgb(29, 28, 30); /* HEX: #1D1C1E */
  --peach: rgb(231, 129, 107); /* HEX: #E7816B */
  --white: rgb(255, 255, 255); /* HEX: #FFFFFF */
  --dark-grey: rgb(51, 49, 54); /* HEX: #333136 */
  --opac-black: rgba(0, 0, 0, 1); /* HEX: #000000 */
  --cream: rgba(253, 243, 240, 1); /* HEX: #FDF3F0; */
  --light-grey: rgb(241, 243, 245); /* HEX: #F1F3F5 */
  --light-peach: rgb(255, 173, 155); /* HEX: #FFAD98 */
  --peach-gradient: linear-gradient(rgba(93, 2, 2, 0), rgba(93, 2, 2, 0.5));
}

body {
  width: 100%;
  background: var(--white);
  font-family: "Jost", sans-serif;
}
